# these are .gitignore statements regarding the python project
# we want pyc and pyo files ignore in ANY folder
*.pyo
*.pyc
__pycache__
*.stamp
/.venv/

# output files
*.out

# idea
/.idea/workspace.xml
/.myenv.pip.errors
